
    <div style=" margin-top: -352px;padding-bottom: 25px;" >
    <center>
    <p ><h2 style="color: #8c1246;font-size: 47px;text-align: center;font-weight: 300;font-family: 'Lato', sans-serif;">Contact Us</h2></p>

    <p style="color:black;font-size: 15px;text-align: center;font-weight:500;font-family: 'Lato', sans-serif;">
  <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Bangalore<br>
      <span class="glyphicon glyphicon-phone"></span>&nbsp;+91-9876543210<br>
          <span class="glyphicon glyphicon-envelope"></span>&nbsp; support@hungerhunt.in
   </p>
</center>
   </div>
  </div>
</div>


<div style="background-color:#ede6e9;text-align:center;height:190px;padding-top: 30px;"><br>
<p style="font-family: Arial, Helvetica, sans-serif;font-size:17px;color:green;">We are always happy to hear from our client and<br>visitors,you may contact us anytime.<p>
  <p style="font-family: Arial, Helvetica, sans-serif;font-size:17px"> One of our Support Member will get in touch with you soon.<p>
  </div>



<div class="row" style="background-color:#c7c9cc;" >
  <div class="col-sm-4" style="margin-left: 33%;padding-top: 30px;background-color:#8aa4ce;width:34em;border: 2px solid green;background:#8aa4ce;border-radius: 3px;">
    <center>



        <div >
          <h3>Feedback</h3>
          <p>We are positively waiting for your suggestion...</p>
        </div>


      <div class="form-bottom" style="padding-bottom: 25px;">
        <form >
          <div class="form-group">

            <input type="text" name="fname" placeholder="First name..." class="form-control" ng-model="feedback.fname">
          </div>
          <div class="form-group">

            <input type="text" name="form-last-name" placeholder="Last name..." class=" form-control" ng-model="feedback.lname" >
          </div>
          <div class="form-group">

            <input type="text" name="form-email" placeholder="Email..." class="form-control" ng-model="feedback.email" >
          </div>
          <div class="form-group">

            <textarea name="message" placeholder="Your Message..." class=" form-control" ng-model="feedback.message" ></textarea>
          </div>

        </form>
          <button type="submit" class="btn btn-success" ng-click="save()">Submit</button>
      </div>
    </div>
  </center>

  </div>
